@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

$columns: 12;
$color-primary: #3E92CC;
$color-primary-dark: darken($color-primary, 10);
$color-white: white;

html, *, *::before, *::after {
	box-sizing: border-box !important;
}

html, body{
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-size: 16px !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

[hidden] {
	display: none !important;
}

*:focus {
	outline: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.align-items-start {
	align-items: flex-start !important;
}
.align-items-end {
	align-items: flex-end !important;
}
.align-items-center {
	align-items: center !important;
}
.justify-content-start {
	justify-content: flex-start !important;
}
.justify-content-end {
	justify-content: flex-end !important;
}
.justify-content-center {
	justify-content: center !important;
}
.justify-content-arround {
	justify-content: space-around !important;
}
.justify-content-between {
	justify-content: space-between !important;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col, > [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.align-self-start {
	align-self: flex-start !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-end {
	align-self: flex-end !important;
}
.justify-self-start {
	justify-self: flex-start !important;
}
.justify-self-end {
	justify-self: flex-end !important;
}
.justify-self-center {
	justify-self: center !important;
}

@for $i from 1 through $columns {
	.col-#{$i}{
		flex: 0 0 percentage($i/$columns);
		max-width: percentage($i/$columns);
	}
}

.order-first {
	order: -1;
}

@for $i from 1 through $columns {
	.order-#{$i}{
		order: $i;
	}
}

.order-last {
	order: #{$columns + 1};
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.h-100 {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.text{
	&-right{
		text-align: right;
	}
	&-center {
	text-align: center;
	}
	&-left{
		text-align: left;
	}
	&-start {
		text-align: start;
	}
	&-end{
		text-align: end;
	}
	&-justify{
		text-align: justify;
	}
}

img {
	&.thumb{
		&-m {
			width: 160px;
			height: 160px;
		}
		&-ml {
			width: 200px;
			height: 200px;
		}
		&-m, &-ml &-l, &-s{
			&.circular{
				border-radius: 50%;
			}
		}
	}
}

.border{
	&-s{
		border-width: thin;
	}
	&-m{
		border-width: medium;
	}
	&-l{
		border-width: thick;
	}
	&-style{
		&-solid{
			border-style:solid;
		}
		&-dashed{
			border-style: dashed;
		}
		&-dotted{
			border-style: dotted;
		}
		&-double{
			border-style: double;
		}
		&-groove{
			border-style: groove;
		}
		&-ridge{
			border-style: ridge;
		}
	}
}

.font{
	&-lighter {
		font-weight: lighter;
	}
	&-normal {
		font-weight: normal;
	}
	&-bold {
		font-weight: bold;
	}
	&-bolder {
		font-weight: bolder;
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border-radius: .5rem;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	background-color: white;
	margin: 1 10 1 10;
	color: rgb(20, 19, 19);
}

.card-body {
	padding: 1rem;
	flex: 1 1 auto;
}

.card-image {
	border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card-title {
	font-weight: 500;
	margin-top: 1.5;
	margin-bottom: 0rem;
	width: 100%;
}

.card-subtitle {
	font-weight: 400;
	color: #6c757d!important;
	margin-top: -0.02rem;
	margin-bottom: 0.6rem;
}

.card-text {
	margin-top: 0;
	margin-bottom: 1rem;
	:last-child{
		margin-bottom: 0;
	}
}

.w-100 {
	width: 100%;
}